/*Klasse mehrfach verwendbar*/
.button{
    font-family: 'Permanent Marker', cursive;
    max-width: 800px;
    border: 2px solid steelblue;
    border-radius: 15px ;
    cursor: pointer;
    border-color: steelblue;
    text-align: center;
    font-size: 60px;
    margin-top: 7%;
    padding: 10px;
    color: steelblue;
}
/*alles im 'body' erhaehlt die Formatierung*/
body{
    background-image: url(./assets/background.jpg);
    background-repeat: none;
    background-size:cover;
    
}

.box{
    max-width: 900px;
    margin-top: 5%;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: steelblue;
}

h1{
    font-family: 'Permanent Marker', cursive;
    margin-top: 250px;
    font-size: 60px;
    max-width: fit-content;
    color: rgb(53, 53, 53);
}

