body {
    background-image: url(../../assets/background.jpg);
    background-repeat: none;
    background-size: cover;
}
/*Klasse, mehrmals verwendbar*/
.questionContainer {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    
}

.row {
    display: flex;
}

.questionElement {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    min-width: calc(100% - 120px);
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    background-color:rgba(211, 211, 211, 0.5);
}

.clickable {
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
/*ID, einmal verwendbar*/
#commitButton{
    max-width: 800px;
    border: 2px solid steelblue;
    border-radius: 15px ;
    cursor: pointer;
    border-color: steelblue;
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
    color: steelblue;
}

#question{
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
    color: rgb(53, 53, 53);
}

#counter {
    position: fixed; /* or use "absolute" for relative to its containing element */
    bottom: 0;
    left: 0;
    color: rgb(53, 53, 53);
    padding: 10px; /* Add some padding for better visibility */
    font-family: 'Kanit', sans-serif;
}